*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: #fff;
}
a {
	text-decoration: none;
	color: inherit;
}
.hamburger {
	position: fixed;
	top: 2rem;
	right: 3rem;
	z-index: 9999;
	font-size: 3rem;
	padding: 0.5rem;
	cursor: pointer;
}
header::after {
	content: '';
	position: fixed;
	inset: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.5s 0.25s;
}
.active header::after {
	transform: translate(0, 0);
	opacity: 1;
	transition: opacity 0.6s;
}
.nav {
	position: fixed;
	inset: 0 auto 0 0;
	z-index: 1000;
	width: 28rem;
	background-color: #1a1d24;
	padding: 1.6rem;
	transform: translateX(-29rem);
	transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.active .nav {
	transform: translateX(0);
}
.nav-list {
	list-style: none;
}
.nav-item {
	position: relative;
}
.nav-item::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #18e0b5;
}
.nav-link {
	display: block;
	text-transform: uppercase;
	line-height: 6rem;
	letter-spacing: 3px;
	opacity: 0.75;
	transition: opacity 0.25s;
}
.nav-link.current {
	color: #fff;
	opacity: 1;
}
.nav-link:hover {
	opacity: 1;
}
.nav-link span {
	font-size: 2rem;
	margin-right: 1rem;
}
main {
	perspective: 1000px;
}
.zoom {
	transform-style: preserve-3d;
	transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.active .zoom {
	transform: translate3d(0, 0, -25rem);
}
/* Main content simulation */
section {
	width: 100%;
	height: 100vh;
	background-color: #1a1d24;
}
/* Main content simulation end*/
@media screen and (max-width: 450px) {
	.hamburger {
		top: 1.5rem;
		right: 1.5rem;
	}
}
@media screen and (max-width: 350px) {
	.nav {
		width: 25rem;
	}
}